.content h1{
  font-weight:bold;
  font-family:Arial;
  color:var(--header1);
}

.content h2{
  font-family:Arial;
  color:var(--header2);
}

.content h3, h4, h5, h6{
  font-family:Arial;
  color:var(--header3456);
}

.content h4{
  font-family:Arial;
  font-style: italic;
  color:var(--header4);
}

.content {
   padding-top: 50px;
   padding-right: 120px;
   padding-bottom: 50px;
   padding-left: 70px;
}
