:root{
  --white:#f4faff;
  --text:#054477;
  --light: #dddddd;
}

body{
  background-color:var(--white);
  overflow-x:hidden;
  color:var(--text);
  font-family: sans-serif;
}

.info {
  color:#9ec4e2;
  text-align:center;
}
