:root{
  --white:#ffffff;
  --text:#9e9e9e;
  --light: #dddddd;
}

body{
  background-color:var(--white);
  overflow-x:hidden;
  color:var(--text);
  font-family: sans-serif;
}
.info *{
  color:var(--text);
}
