:root{
  --light: #dddddd;
  --white:#f4faff;
  --text:#054477;
  --copyright:#9ec4e2;
  --header1:#1c66dd;
  --header2:#24467c;
  --header3456:#0b111c;
  --header4:#0b111c;
  --logo:#052456;
  --background:#deecf7;
  --search:#e5f1fc;
}

body{
  background-color:var(--white);
  font-family: sans-serif;
  overflow-x:hidden;
  color:var(--text);
}

.info {
  text-align:right;
  color:var(--copyright);
}
