<h1>About</h1>
<h2>Why It Was Built</h2>
  <p> Dataviz was created in order to aggregate a list of collected databases in
  order for researchers to find obscure or lesser known data more easily.
  In this way, individuals can pull up Internet sourced data based on keyword
  searches they type in. </p>
  <p>Easy, fast, efficient––that's Dataviz.</p>
<h2>How It Was Done</h2>
  <p> Dataviz was constructed using several methods, including Node, Javascript,
    Web Static,and Bootstrap. HTML and CSS were implemented for the look of site. </p>
<h2> The Developers </h2>
  <h4> Alex Lugo </h4>
    <p> Alex is a sophomore at the University of Maryland, College Park currently
      pursuing a major in Computer Science. He is passionate about learning as
      about the subject field much as he can while getting enough sleep. </p>
    <p> In his spare, he likes to program
      and program and program...and program. And program. </p>

      <br>

  <h4> Kelly Ngo </h4>
    <p> Kelly is a junior at the University of Maryland, College Park
    currently majoring in Statistics and Public Health and minoring in
    Computer Science and Astronomy. She is interested in the concept of using
    big data to assist in gathering and interpreting statistical information
    for real life application.</p>
    <p> When she's not studying for exams, she likes to solve ciphers and
      mull over the latest episode of Mr. Robot while reading Sky and Telescope.
