<h1>Introduction</h1>
<h2>welcome to datadrop!</h2>
<p>
  datadrop is a free online database explorer/visualizer meant for programmers and web developers.
  Feel free to browse a selection of many different publicly-accessible data sources to use in your projects.
  Our goal is to connect relevant data with people who know how to use it.
</p>

<h2>navigation</h2>
<p>
  To look at out array of data sources, please check out the databases tab in the toolbar to your left.
  To search using filtered options, go to the search tab.
  If you would like to use our visualization engine in your own project, click on engine.
</p>

<p> <i> happy searching! </i> </p>
