<div class="load">
  <img class="icon" src="assets/icon.svg"><br><br>
  <div class="bar"></div>
</div>

<style>
.load-screen{
  z-index:2;
  background-color:var(--white);
  position:absolute;
  height:100%;
  width:100%;
  left:0;
  top:0;
}
.load{
  transform:translate(-50%,-50%);
  position:absolute;
  width:200px;
  left:50%;
  top:50%;
}
.icon{
  --dist:20px;
  animation-name:rainbow;
  animation-duration:4s;
  animation-iteration-count:infinite;
  box-shadow:green 0px 0px var(--dist);
  background-color:green;
  border-radius:50%;
  height:200px;
  width:200px;
}
.bar{
  text-align:center;
  background-color:transparent;
  box-shadow:red 0px 0px 10px;
  height:5px;
  width:1%;
}
.bar.fail{
  box-shadow:none;
  font-size:20px;
  width:200px;
  height:25px;
}
</style>
