<h1>Search</h1>
<div class="filters">
  <h2>filters</h2>
  <span>Term:</span>
  <input type="text" class="name"><br>
  <span>Source:</span>
  <select class="website">
    <option value=""> -any- </option>
  </select><br>
  <span>Datatype:</span>
  <select class="datatype">
    <option value=""> -any- </option>
  </select><br>
  <input class="visualize" type="checkbox" />
  Direct data links only<br>
  <br><button>Search</button>
</div>
<div class="results"></div>

<style>
  .filters{
    background-color:var(--light);
    border-radius:35px;
    padding:25px;
  }
  .results{
    margin-top:25px;
    text-align:left;
  }
  .results.fail{
    text-align:center;
  }
  .results.fail img{
    box-shadow:red 0px 0px 15px;
    background-color:red;
    border-radius:50%;
    height:200px;
    width:200px;
  }
  .results .result{
    padding:5px;
  }
  .results.visualize{
    border:solid 2px var(--header1);
    overflow-x:scroll;
  }
  .results .result:nth-child(even){
    background-color:var(--search);
  }
  .iconified img{
    margin-right:5px;
  }
</style>
